@import 'setting';
@import 'reset';
@import 'mixin';
@import 'base';
@import 'clearfix';
@import 'font-notosans';

// Modules
@import 'module/sharetech';
@import 'module/logoPath';
@import 'module/background';
@import 'module/site-title';
@import 'module/h2';
@import 'module/dropshadow';


body {
  border: 15px solid $white;
  box-sizing: border-box;
}
a {
  color: $black;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
section {
  width: 1100px;
  margin: 0 auto;
  padding-top: 50px;
  &.full {
    width: 100%;
  }
}


#header {
  position: fixed;
  z-index: 2;
}

#main {
  position: relative;
  z-index: 1;
  margin-bottom: 360px - 15px;
  padding-bottom: 100px;
  min-height: 100vh;
}

#about {
  background-color: $white;
  padding: 80px 0;
  .about-description {
    width: 800px;
    margin: 0 auto;
    line-height: 2em;
  }
}

#whats {
  width: 100%;
  font-size: 0;
  margin-top: 50px;
  .post {
    width: 33.333%;
    height: 315px;
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    .thumb {
      width: 100%;
    }
    .content {
      position: relative;
      top: -50px;
      box-sizing: border-box;
      width: 90%;
      height: 100px;
      padding: 25px 15px;
      margin: 0 auto;
      background-color: $white;
    }
  }
}

#gnav {
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 2;
  font-size: 0;
  font-weight: 700;
  li {
    text-align: right;
    a {
      font-size: 15px;
      margin-top: .5em;
      display: inline-block;
      padding: .3em 30px .4em 20px;
      background-color: $white;
      color: $black;
      letter-spacing: .1em;
    }
    &.lecture {
      margin-top: 35px;
    }
  }
}

.mv {
  img {
    width: 100%;
  }
}

#mail {
  text-align: center;
  a {
    font-family: 'Share Tech', sans-serif;
    font-size: 36px;
    font-weight: bold;
  }
}

#access {
  margin-top: 50px;
  .access-univ {
    width: 100%;
    height: 30vw;
    font-size: 0;
    .univ-map {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 100%;
      height: 100%;
      font-size: 1rem;
      #map-canvas {
        width: 100%;
        height: 100%;
        background-color: lightgray;
      }
      .univ-address {
        position: absolute;
        bottom: -10px;
        right: -30px;
        padding: 30px;
        background-color: rgba($white, .75);
        h3 {
          font-size: 17px;
          font-weight: bold;
        }
        p {
          margin-top: 10px;
        }
      }
    }
  }
}

#article {
  background-color: #fff;
  padding: 80px 150px;
  box-sizing: border-box;
  .article-post-title {
    display: block;
    font-size: 34px;
    font-weight: bold;
    border-bottom: 2px solid #eee;
    margin-bottom: 70px;
    padding-bottom: 35px;
    line-height: 1.4em;
    letter-spacing: .05em;
  }
  .article-post-content {
    h1 {
      font-size: 28px;
      font-weight: bold;
      background-color: #eee;
      padding: 20px;
      border-radius: 5px;
      margin-top: 30px;
      line-height: 1.4em;
      letter-spacing: .08em;
    }
    h2 {
      font-size: 24px;
      font-weight: bold;
      border-left: 8px solid #ddd;
      padding: 15px 0 15px 1em;
      margin-top: 30px;
      line-height: 1.4em;
      letter-spacing: .05em;
    }
    h3 {
      font-size: 22px;
      font-weight: 700;
      margin-top: 30px;
      padding-bottom: 10px;
      border-bottom: 2px solid #ddd;
    }
    h4 {
      font-size: 20px;
      font-weight: bold;
      margin-top: 20px;
    }
    h5 {
      font-size: 18px;
      font-weight: bold;
      margin-top: 20px;
    }
    h6 {
      font-size: 16px;
      font-weight: bold;
      margin-top: 20px;
    }
    p {
      font-size: 16px;
      line-height: 1.6em;
      letter-spacing: 0.08em;
      margin-top: 30px;
    }
    ul {
      margin-left: 2em;
      margin-top: 20px;
      list-style: square inside;
    }
    ol {
      margin-top: 20px;
      margin-left: 2em;
      list-style: decimal inside;
    }
    li {
      margin-top: 5px;
      line-height: 1.4em;
      padding-left: 1em;
      text-indent: -2em;
    }
    strong {
      font-weight: bold;
    }
    em {
      font-style: italic;
    }
    blockquote {
      padding: 20px 50px 30px 80px;
      margin-top: 30px;
      text-align: justify;
      background-color: #eee;
      position: relative;
      &:before {
        content: "”";
        position: absolute;
        font-size: 10em;
        color: #ccc;
        top: 5px;
        left: 10px;
        z-index: 0;
      }
    }
  }
}


#footer {
  position: fixed;
  bottom: 0;
  z-index: -1;
  background-color: $white;
  width: 100%;
  height: 300px;
  text-align: center;
  padding: 50px 0 20px;
  font-family: 'Share Tech';
  section {
    padding: 0;
    h3 {
      color: $green;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
  .footer-address {
    font-size: 36px;
    margin-top: 20px;
  }
  .footer-link {
    margin-top: 60px;
    .social-link {
      li {
        display: inline-block;
        vertical-align: top;
        margin: 0 50px;
        img {
          height: 40px;
          width: auto;
        }
      }
    }
  }
  .copyright {
    display: inline-block;
    margin-top: 40px;
  }
}
