@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: auto;
  font-size: 16px;
  font-family: "NotoSansCJKjp", sans-serif;
  font-weight: 400;
  color: #252525;
  background-color: #fff;
}

.clearfix {
  display: inline-table;
  min-height: 1%;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Hides from IE-mac */
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* End hide from IE-mac */
@font-face {
  font-family: "NotoSansCJKjp";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/notosans-regular.eot");
  src: local("Noto Sans CJK JP Regular"), url("./fonts/notosans-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/notosans-regular.woff") format("woff"), l url("./fonts/notosans-regular.otf") format("opentype");
}

@font-face {
  font-family: "NotoSansCJKjp";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/notosans-bold.eot");
  src: local("Noto Sans CJK JP Bold"), url("./fonts/notosans-bold.eot?#iefix") format("embedded-opentype"), url("./fonts/notosans-bold.woff") format("woff"), url("./fonts/notosans-bold.otf") format("opentype");
}

.sharetech {
  font-family: 'Share Tech', sans-serif;
}

.logo-path {
  font-size: 32px;
  position: relative;
  margin: 30px 0 0 30px;
}

.logo-path a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #252525;
}

.logo-path a:hover {
  text-decoration: underline;
}

.logo-path a.logo-path-root:before {
  content: '';
  display: inline-block;
  width: 3px;
  height: 32px;
  border-radius: 3px;
  margin: 0 22px -5px 14px;
  background-color: #252525;
  transform: rotate(18deg);
}

.logo-path a.logo-path-directory {
  display: inline-block;
}

body,
main {
  background: url("./images/common/index-bg.png") #B6F4C6 repeat center center;
}

.site-title {
  width: 1000px;
  max-width: 90%;
}

.site-title .site-title-main {
  margin-top: 18vh;
}

.site-title .site-title-main img {
  width: 100%;
}

.site-title .site-title-sub {
  font-size: 23px;
  margin-top: 2vh;
  margin-bottom: 18vh;
}

.h2 h2 {
  font-size: 36px;
  font-family: 'Share Tech', sans-serif;
  text-align: center;
  margin: 24px 0;
}

.h2 .icon {
  display: block;
  width: 80px;
  margin: 10px auto 0;
}

.h2:after {
  content: '';
  display: block;
  width: 100px;
  height: 2px;
  background-color: orange;
  margin: 0 auto 60px;
}

h3.h3 {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: .1em;
  margin: 30px 0 15px;
  border-left: 5px solid orange;
  padding: .2em 0 .25em .5em;
}

.dropshadow {
  box-shadow: 0px 3px 4px rgba(64, 64, 64, 0.5);
}

body {
  width: 100%;
  background-color: #ffffff;
  border: 15px solid #ffffff;
  box-sizing: border-box;
}

a {
  color: #252525;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

section {
  margin: 0 auto;
  padding-top: 50px;
}

section.full {
  width: 100%;
}

#header {
  position: fixed;
  z-index: 2;
}

#gnav {
  position: fixed;
  top: 100px;
  right: 15px;
  z-index: 2;
  font-size: 0;
  font-weight: 700;
}

#gnav li {
  text-align: right;
}

#gnav li a {
  font-size: 15px;
  margin-top: .5em;
  display: inline-block;
  padding: .3em 10px .4em 15px;
  background-color: #ffffff;
  color: #252525;
  letter-spacing: .1em;
}

#gnav li.lecture {
  margin-top: 35px;
}

#main {
  padding-bottom: 100px;
  min-height: 100vh;
}

.mv img {
  width: 100%;
}

#about {
  background-color: #ffffff;
  padding: 65px 5%;
  box-sizing: border-box;
  width: 1000px;
  max-width: 90%;
}

#about .about-description {
  margin: 0 auto;
  line-height: 2em;
}

#about .member-link a {
  text-decoration: underline;
}

#about .member-link a:hover {
  text-decoration: none;
}

#whats {
  width: 100%;
  font-size: 0;
  margin: 50px 0;
}

#whats .post {
  width: 33.333%;
  position: relative;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
}

#whats .post .post-thumb {
  position: relative;
  width: 100%;
  height: 18vw;
  overflow: hidden;
}

#whats .post .post-thumb img {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

@media only screen and (max-width: 768px) {
  #whats .post .post-thumb {
    height: 26vw;
  }
}

#whats .post .post-content {
  position: absolute;
  bottom: -50px;
  left: 5%;
  box-sizing: border-box;
  width: 90%;
  height: 100px;
  padding: 25px;
  margin: 0 auto;
  background-color: #ffffff;
}

#whats .post .post-content .post-content-date {
  font-weight: bold;
  font-size: 14px;
  margin-right: 10px;
}

#whats .post .post-content .post-content-title {
  margin-top: 15px;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
  #whats .post {
    width: 100%;
    margin-bottom: 100px;
  }
}

#mail {
  text-align: center;
}

#mail a {
  font-family: 'Share Tech', sans-serif;
  font-size: 36px;
  font-weight: bold;
}

#access {
  margin-top: 50px;
}

#access .access-univ {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 30vw;
  font-size: 0;
}

#access .access-univ .univ-map {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

#access .access-univ .univ-map #map-canvas {
  width: 100%;
  height: 100%;
  background-color: lightgray;
}

#access .access-univ .univ-map .univ-address {
  position: absolute;
  bottom: -10px;
  right: -30px;
  padding: 30px;
  background-color: #ffffff;
}

#access .access-univ .univ-map .univ-address h3 {
  font-size: 17px;
  font-weight: bold;
}

#access .access-univ .univ-map .univ-address p {
  margin-top: 10px;
}

#article {
  width: 100%;
  max-width: 1000px;
  background-color: #ffffff;
  padding: 80px;
  margin-top: 40px;
  box-sizing: border-box;
}

#article .article-post-title {
  display: block;
  font-size: 34px;
  font-weight: bold;
  border-bottom: 2px solid #eee;
  padding-bottom: 35px;
  margin-bottom: 20px;
  line-height: 1.4em;
  letter-spacing: .05em;
}

#article .article-post-date {
  width: 100%;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 80px;
}

#article .article-post-content h1 {
  font-size: 28px;
  font-weight: bold;
  background-color: #eee;
  padding: 20px;
  border-radius: 5px;
  margin-top: 30px;
  line-height: 1.4em;
  letter-spacing: .08em;
}

#article .article-post-content h2 {
  font-size: 24px;
  font-weight: bold;
  border-left: 8px solid #ddd;
  padding: 15px 0 15px 1em;
  margin-top: 30px;
  line-height: 1.4em;
  letter-spacing: .05em;
}

#article .article-post-content h3 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ddd;
}

#article .article-post-content h4 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

#article .article-post-content h5 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

#article .article-post-content h6 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

#article .article-post-content p {
  font-size: 16px;
  line-height: 1.6em;
  letter-spacing: 0.08em;
  margin-top: 30px;
}

#article .article-post-content ul {
  margin-left: 2em;
  margin-top: 20px;
  list-style: square inside;
}

#article .article-post-content ol {
  margin-top: 20px;
  margin-left: 2em;
  list-style: decimal inside;
}

#article .article-post-content li {
  margin-top: 5px;
  line-height: 1.6em;
  padding-left: 1em;
  text-indent: -2em;
}

#article .article-post-content strong {
  font-weight: bold;
}

#article .article-post-content em {
  font-style: italic;
}

#article .article-post-content blockquote {
  padding: 20px 50px 30px 80px;
  margin-top: 30px;
  text-align: justify;
  background-color: #eee;
  position: relative;
}

#article .article-post-content blockquote:before {
  content: "”";
  position: absolute;
  font-size: 10em;
  color: #ccc;
  top: 5px;
  left: 10px;
  z-index: 0;
}

#member .members h2 {
  border-bottom: 4px solid black;
  font-size: 22px;
  margin-top: 10px;
}

#footer {
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  padding: 50px 0 20px;
  font-family: 'Share Tech';
}

#footer section {
  padding: 0;
}

#footer section h3 {
  color: #B6F4C6;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

#footer .footer-address {
  font-size: 36px;
  margin-top: 20px;
}

@media only screen and (max-width: 414px) {
  #footer .footer-address {
    font-size: 22px;
  }
}

#footer .footer-link {
  margin-top: 60px;
}

#footer .footer-link .social-link li {
  display: inline-block;
  vertical-align: top;
  margin: 0 50px;
}

#footer .footer-link .social-link li img {
  height: 40px;
  width: auto;
}

@media only screen and (max-width: 414px) {
  #footer .footer-link .social-link li img {
    height: 35px;
    margin: 0 0 20px;
  }
}

@media only screen and (max-width: 414px) {
  #footer .footer-link .social-link li {
    margin: 0;
  }
}

#footer .copyright {
  display: block;
  margin-top: 30px;
}

#introduction {
  width: 100%;
}

#introduction article[class^='post-'] {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 20px;
}

#introduction article[class^='post-'] > a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  position: relative;
}

#introduction article[class^='post-'] > a .post-thumb {
  width: 360px;
  height: 180px;
  overflow: hidden;
  position: relative;
}

#introduction article[class^='post-'] > a .post-thumb img {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

#introduction article[class^='post-'] > a .post-content {
  position: absolute;
  width: calc( 100% - 360px + 60px);
  padding: 15px 30px;
  box-sizing: border-box;
  background-color: #ffffff;
  left: 300px;
  font-size: 20px;
}

#introduction article[class^='post-'] > a .post-content .post-content-date {
  font-size: 14px;
}

#introduction article[class^='post-'] > a .post-content .post-content-title {
  line-height: 28px;
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
}

#introduction article[class^='post-'] > a .post-content .post-content-body {
  margin-top: 10px;
}

#introduction article[class^='post-'] > a .post-content .post-content-body p {
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#lecture {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

#lecture .lectures {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

#lecture .lectures article[class^="post-"] {
  width: 32%;
  margin-bottom: 20px;
}

#lecture .lectures article[class^="post-"] .post-content {
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 30px 20px;
}

#lecture .lectures article[class^="post-"] .post-content .lecture-date {
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
}

#lecture .lectures article[class^="post-"] .post-content .lecture-date .lecture-day {
  margin-right: .25em;
}

#lecture .lectures article[class^="post-"] .post-content .lecture-date .lecture-periods {
  display: -ms-flexbox;
  display: flex;
}

#lecture .lectures article[class^="post-"] .post-content .lecture-date .lecture-periods li:last-of-type:after {
  content: "限";
  margin-left: .25em;
}

#lecture .lectures article[class^="post-"] .post-content .lecture-date .lecture-periods li + li:before {
  content: ",";
  margin-right: .25em;
}

#lecture .lectures article[class^="post-"] .post-content .lecture-name {
  font-size: 20px;
  margin-top: .5em;
  letter-spacing: .05em;
}

#achievement {
  width: 100%;
  max-width: 1000px;
  margin: 50px auto 0;
  padding-bottom: 50px;
  background-color: #ffffff;
}

#achievement .achievements {
  margin: 0 auto;
  width: 80%;
}

#achievement .achievements li {
  line-height: 1.3;
  letter-spacing: .05em;
}

#achievement .achievements li h3 {
  font-weight: bold;
  margin-bottom: .75em;
}

#achievement .achievements li + li {
  margin-top: 50px;
}

#member {
  width: 100%;
  max-width: 1000px;
}

#member .member {
  background-color: #ffffff;
  padding: 65px;
}

#member .member .member-name {
  font-weight: bold;
  line-height: 1.4;
}

#member .member .member-introduction {
  margin-top: 10px;
  line-height: 1.4;
}

#member .member .member-link {
  text-decoration: underline;
}
