@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: auto;
  font-size: 16px;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  color: #333;
  background-color: #fff;
}

.clearfix {
  display: inline-table;
  min-height: 1%;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Hides from IE-mac */
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* End hide from IE-mac */
.sharetech {
  font-family: 'Share Tech', sans-serif;
}

.logo-path {
  position: fixed;
  top: 55px;
  left: 70px;
  font-size: 32px;
  z-index: 10;
}

.logo-path a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #222;
}

.logo-path a:hover {
  text-decoration: underline;
}

.logo-path a.directory {
  padding-bottom: 5px;
}

.logo-path a.directory:before {
  content: '';
  display: inline-block;
  width: 3px;
  height: 32px;
  border-radius: 3px;
  margin: 0 22px -5px 14px;
  background-color: #222;
  transform: rotate(18deg);
}

.lag-shadow {
  position: relative;
}

.lag-shadow img:first-child {
  position: relative;
  z-index: 1;
}

.lag-shadow img:nth-child(2) {
  position: absolute;
  top: 6px;
  left: 9px;
  z-index: 0;
}

body {
  background-color: #B6F4C6;
}

.site-title .site-title-main {
  margin-top: 30vh;
}

.site-title .site-title-sub {
  font-size: 23px;
  margin-top: 2vh;
  margin-bottom: 30vh;
}

.h2 h2 {
  font-size: 36px;
  font-family: 'Share Tech', sans-serif;
  text-align: center;
  margin: 30px 0;
}

.h2 .icon {
  display: block;
  width: 80px;
  margin: 0 auto;
}

.h2:after {
  content: '';
  display: block;
  width: 100px;
  height: 2px;
  background-color: orange;
  margin: 0 auto 80px;
}

body {
  width: 100vw;
  color: #222;
  border: 15px solid #fff;
  box-sizing: border-box;
}

main,
header,
footer {
  width: 1100px;
  margin: 0 auto;
}

.about {
  width: 100%;
  background-color: #fff;
  padding: 80px 0;
}

.about .about-description {
  width: 800px;
  margin: 0 auto;
  line-height: 2em;
}

.whats {
  width: 100%;
  background-color: gray;
}

.whats .post {
  width: 33%;
}
