// lag-shadow
.lag-shadow {
	position: relative;
	img {
		&:first-child {
			position: relative;
			z-index: 1;
		}
		&:nth-child(2) {
			position: absolute;
			top: 6px;
			left: 9px;
			z-index: 0;
		}
	}
}
