.site-title {
  width: 1000px;
  max-width: 90%;
	.site-title-main {
		margin-top: 18vh;
		img {
			width: 100%;
		}
	}
	.site-title-sub {
		font-size: 23px;
		margin-top: 2vh;
		margin-bottom: 18vh;
	}
}
